.forgot-password-container {
    padding: 30px;
    border-radius: 10px;
    height: 100vh;
  }
  
  .container {
width: 50%;    margin: auto;
    background: #fff;
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 60%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .form-group {
    position: relative;
  }
  
  .form-group .toggle-password {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .btn-main {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .btn-main:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .text-muted {
    color: #6c757d;
  }
  