<section class="">
    <app-navbar></app-navbar>
</section>

  <section class="forgot-password-container">
    <div class="container">
      <div class="mb-5">
        <h1 class="text-center">تغيير كلمة المرور</h1>
        <p class="text-center">قم بإدخال البريد الإلكتروني الخاص بك وسيتم إرسال رابط استرجاع عليه.</p>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form-forgot-password">
        <div class="form-group" dir="rtl">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="البريد الالكترونى" />
        </div> 
  
        <button type="submit" class="btn btn-main my-2 mx-auto text-center">أرسال الرابط</button>
  
        <div class="text-center mt-3">
          <a routerLink="/login" class="text-muted">الرجوع إلى <strong class="text-bold">تسجيل الدخول</strong></a>
        </div>
      </form>
    </div>
  </section>