<section class="nav-bar ">
        <nav class="navbar navbar-expand-lg w-90 mx-auto ">
          <button class="Btn text-dark text-bold" routerLink="/login">
            تسجيل الدخول
          </button>
          <button _ngcontent-ng-c4172985499="" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" (click)="toggleNavbar()" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler d-lg-none collapsed"><span _ngcontent-ng-c4172985499="" class="navbar-toggler-icon"></span></button>
          
            <div class="collapse navbar-collapse " id="navbarSupportedContent"  [style.display]="navbarOpen ? 'flex' : 'none'">
              <ul class="navbar-nav mx-auto">
            
                <li class="nav-item mx-1">
                  <a class="nav-link" href="#about-us">من نحن ؟</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="#contact-us">تواصل معنا</a>
                  </li>
             
               
                  <li ngbDropdown class="nav-item dropdown mx-1">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" dir="rtl" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            التصنيفات
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                      <button ngbDropdownItem dir="rtl">أدوات الذكاء الاصطناعى</button>
                      <button ngbDropdownItem dir="rtl">تلقينات الذكاء الاصطناعى</button>
                      <button ngbDropdownItem dir="rtl">المقالات</button>
                    </div>
                  </li>

                <li class="nav-item mx-1">
                    <a class="nav-link" href="#">الصفحة الرئيسية</a>
                  </li>
           
                    
          
              </ul>
              <!-- <ul class="mt-2">
                <li class="logo"> -->
                  <a class="navbar-brand logo "  href="#" ><img src="assets\logo3.png" class="w-100" alt=""></a>

                <!-- </li>
              </ul> -->
           
            </div>

          </nav>

</section>




