.content-container {
    text-align: center; /* Centers the text */
    /* max-width: 600px; Maximum width of the content area */
    margin: auto; /* Centers the content container */
    padding: 20px; /* Padding around the content */
  }
  .text{
    font-size: 16px;
    font-family: 500;
    white-space: wrap;
    width: 100%;
  }
  br{
    line-height: 2px;
  }
  /* h1 {
    color: #000; 
    margin: 10px 0; 

  } */
   h2 {
    color: #000; /* Dark text color */
    margin: 40px auto; /* Space above and below the headers */
    font-size: 36px;
    font-weight: 800;
    max-width:570px ;
  }
  
  
  p {
    color: #000; /* Lighter text color for the paragraph */
    margin-bottom: 20px; /* Space below the paragraph */
  }
  
  .button-container {
    display: flex;
    justify-content: space-around; /* Distributes buttons evenly */
    margin-top: 20px; /* Space above the button container */
  }
 

  .btn-bg{
    --bs-btn-color: black;
    --bs-btn-bg: #f3daa2;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #f1cc7b;;
    font-weight: bold;
    padding: 14px 25px;
    border-radius: 16px;
    }
    .btn-border{
      --bs-btn-color: black;
      --bs-btn-bg:  var(--50, #EFF6FF);;
      --bs-btn-border-color: #f3daa2;
      --bs-btn-hover-color: black;
      --bs-btn-hover-bg: #fff;
      --bs-btn-hover-border-color: #f3daa2;
      font-weight: bold;
      padding: 14px 25px;
      border-radius: 16px;
      font-size: 12px;
      }
@media (max-width:410px) {
  h2 {

    font-size: 24px;

  }
  .text{
    font-size: 14px;
  }
}

