<section class="about-us my-5">
    <div class="w-70 mx-auto my-5">
        <h1 class="text-center py-4 fw-bold fs-2" dir="rtl">عن هنا Ai</h1>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12 close-spacing">
                <p class="text-color text-light px-4 py-4 rounded-4 " dir="rtl"> مكتبة واسعة لأدوات الذكاء المختلفة في مكان واحد لتسريع الوصول للأداة المناسبة</p>
            </div>
            <div class="col-lg-6 col-sm-12 close-spacing">
                <p class="text-color text-light px-4 py-4 rounded-4 " dir="rtl">نتميز بوجود كلمات دلالية للتعامل مع الذكاء الاصطناعي (التلقينات الجاهزة)</p>
            </div>
            <div class="col-lg-6 col-sm-12 close-spacing">
                <p class="text-color text-light px-4 py-4 rounded-4 " dir="rtl">إثراء المحتوى العربي بمقالات تعليمية عن استخدام
                    الذكاء الاصطناعي في حياتنا اليومية والعملية</p>
            </div>
            <div class="col-lg-6 col-sm-12 close-spacing">
                <p class="text-color text-light px-4 py-4 rounded-4 " dir="rtl">
                    شات بوت متميز في البحث عن ما تريده في منصتنا <br></p> 
            </div>
        </div>
    </div>
</section>