.my-6 {
    margin-top: 3rem !important;
    margin-bottom: 6rem !important;
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }

  .btn-border {
    --bs-btn-color: #000;
    font-weight: bold;
    /* --bs-btn-bg: #fff; */
    background: var(--Primary, #F3DAA2);
    --bs-btn-border-color:none;
   /* box-shadow: 0px 2px 5px 1.5px rgba(0, 0, 0, 0.25);; */
    width: fit-content;
    margin-block: 1.2rem;
    --bs-btn-hover-color: var(--black, #0A0A0A);
    
    --bs-btn-hover-bg: #f1cc7b;
    --bs-btn-hover-border-color: #000;
    border-radius: 15px;
    padding: 10px;
    /* --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545; */
}
.btn-border:hover{
  background-color: #f1cc7b;
}
/* .bg-img{
  background-image: url();
} */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #fff; /* WhatsApp green color */
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it stays on top */
}

.whatsapp-button img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
}