.bi-copy {
    color: #000; /* Bootstrap primary color */
    cursor: pointer;
  }
  
  .bi-copy:hover {
    color: #0a58ca;
  }
  .toolsLink{
    cursor: pointer;
}
.bg-main{
  background-image:url('/assets/all.webp') ;
  height: 40vh;
  background-size: cover;

}
@media (max-width:992px){
  .bg-main{
    background-image:url('/assets/all991.webp') ;
  }
}
@media (max-width:500px){
  .bg-main{
    background-image:url('/assets/all478.webp') ;
  }
}
.w-90{
  width: 85%;
}
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background-color: #fff; /* WhatsApp green color */
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it stays on top */
}

.whatsapp-button img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
}