
<section class="show-case ">
<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="banner">
      <img src="assets/bannerGIF.gif" class="d-block w-100" alt="..." >
    </div>
</div>
</section>

<section >
    <app-hero></app-hero>
</section>
<section>
    <app-features></app-features>
</section> 
<section id="about-us">
    <app-about-us></app-about-us>
</section>

<a href="https://api.whatsapp.com/send?phone=966568700370" target="_blank" class="whatsapp-button">
  <img src="assets/whatsapp.png" alt="WhatsApp" class="whatsapp-icon">
</a>

<section id="footer">
    <app-footer></app-footer>
</section>











    <!-- <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/bannerGIF.gif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner3 (1).png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner3 (2).png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
