    <section class="forgot-password-container ">
        <div class="container">
        <div class="mb-5">
          <h1 class="text-center">تغيير كلمة المرور</h1>
          <p class="text-center">قم بإدخال البريد الإلكتروني الخاص بك وسيتم إرسال رابط استرجاع عليه.</p>
        </div>
      
            <div class="form-group" dir="rtl">
              <input type="email" class="form-control "  [(ngModel)]="token" placeholder="كلمة المرور الجديدة" id="newpassword" formControlName="newpassword" />
              <div class="toggle-password">
                <i class="fa fa-eye"></i>
              </div>
            </div> 
            <div class="form-group" dir="rtl">
                <input type="email" class="form-control "  [(ngModel)]="newPassword" placeholder="تأكيد كلمة المرور الجديدة" id="newpassword" formControlName="newpassword" />
                <div class="toggle-password">
                  <i class="fa fa-eye"></i>
                </div>
              </div> 
        
      
            <button type="submit"  (click)="resetPassword()" class="btn btn-main my-2 mx-auto text-center " >تغيير  </button>
      
            <div class="text-center mt-3">
              <a routerLink="/login" class="text-muted">الرجوع إلى <strong class="text-bold">تسجيل الدخول</strong></a>
            </div>
        </div>
      </section> 
